<div class="w-auto" >
  <img class="w-100" src=<%= @flat.url_img %> alt="" >
</div>

<div class="container mt-2">
  <%= link_to '< See All Flats', flats_path, class: "btn btn-primary" %>
  <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_flat_path(@flat), class: "" %>
  <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, flat_path(@flat), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@flat.name}"}%>
  <div class="bg-light p-2 rounded border mb-3">
    <h1><%= @flat.name %></h1>
    <span><i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %>/night</span>
    <span><i class="fa-solid fa-user-group"></i> <%= @flat.number_of_guests %></span>
    <p><%= @flat.address %></p>
    <p><%= @flat.description %></p>
  </div>

</div>
